/dataset/*
/original_notebook.ipynb
/ml_engineer_take_home_assessment.py
/ml-engineer-assessment-dataset.zip
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/machinet.conf
/.idea/sonarlint/issuestore/3/4/34e72e00caaa7e6ab829c484f33788a65325889d
/.idea/sonarlint/securityhotspotstore/3/4/34e72e00caaa7e6ab829c484f33788a65325889d
/runs/May28_00-27-17_EslamPC/events.out.tfevents.1685222841.EslamPC.24048.0
/runs/May28_00-28-08_EslamPC/events.out.tfevents.1685222892.EslamPC.17852.0
/runs/May28_00-28-41_EslamPC/events.out.tfevents.1685222925.EslamPC.6024.0
/runs/May28_00-36-56_EslamPC/events.out.tfevents.1685223423.EslamPC.24096.0
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/MTailor_Exam.iml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/script.py
/.idea/vcs.xml
